In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import MinMaxScaler


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
# Read data set 
df = pd.read_csv("data/Bank_marketing_cleaned_Data.csv")

In [3]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [4]:
# Columns with object type are Catcolumns  - Not using month and dependant variable y
catCols = ['job','marital','education','default','housing','loan','contact','poutcome']
numCols = ['balance','duration','pdays']

In [5]:
for cols in catCols:
    le = LabelEncoder()
    df[cols] =le.fit_transform(df[cols])

In [6]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,33,0,2,2,0,272,1,0,0,1,sep,293,2,92,3,2,yes
1,29,0,1,1,0,6429,1,1,0,14,may,535,1,352,2,0,no
2,62,5,1,0,0,1742,0,0,0,14,jun,167,2,98,6,1,yes
3,62,5,1,0,0,3738,0,0,1,10,aug,151,3,185,1,0,no
4,40,1,1,1,0,327,1,0,0,12,may,474,2,357,1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4127,31,4,1,2,0,1224,1,1,0,20,nov,75,2,119,2,2,no
4128,35,9,1,1,0,294,1,0,0,9,mar,301,1,90,4,2,yes
4129,51,1,1,0,0,1164,1,0,0,12,may,100,1,369,2,0,no
4130,42,2,1,2,0,1068,1,0,0,13,apr,444,1,300,8,0,no
4131,49,9,1,2,0,523,1,0,0,2,jun,712,1,60,3,0,yes

In [7]:
ms = MinMaxScaler()
scaled = pd.DataFrame(ms.fit_transform(df[numCols]))
df[numCols[0]] = scaled[0]
df[numCols[1]] = scaled[1]
df[numCols[2]] = scaled[2]

In [8]:
# Converting the month column in yearly cycle
month_dict = {
    "jan":1,
    "feb":2,
    "mar":3,
    "apr":4,
    "may":5,
    "jun":6,
    "jul":7,
    "aug":8,
    "sep":9,
    "oct":10,
    "nov":11,
    "dec":12,}
df['month'] = df['month'].map(month_dict)

In [9]:
df['y'] =df['y'].map({"yes":1,"no":0})

In [10]:
bins = [17,25,35,50,60,90]

In [11]:
df.age = pd.cut(df.age,bins,labels=[1,2,3,4,5])

In [12]:
X = df.drop("y",axis = 1)
y = df['y']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [14]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [15]:
X_train.to_csv("data/X_train.csv")
X_test.to_csv("data/X_test.csv")
y_train.to_csv("data/y_train.csv")
y_test.to_csv("data/y_test.csv")

In [16]:
rf =  RandomForestClassifier()

In [17]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [18]:
yPred =rf.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score

In [20]:
accuracy_score(y_test,yPred)

0.8282950423216445

In [21]:
confusion_matrix(y_test,yPred)

array([[465,  61],
       [ 81, 220]])

In [22]:
precision_score(y_test,yPred)

0.7829181494661922